$fontFamily: Monospace;
$borderRadius: 0em;
$baseColor: cornflowerblue;
$importantColor: blue;
$warningColor: lightblue;
$secondaryFontFamily: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$boxShadow: -2px 5px 10px black;