$fontFamily: sans-serif;
$borderRadius: 1em;
$baseColor: red;
$importantColor: darkred;
$warningColor: lightcoral;
$secondaryFontFamily: 'Times New Roman', Times, serif;
$boxShadow: 10px 5px 5px black;
